/*
 * @Description: sass公用 mixin, 业务常用
 * @Author: yijian.song
 * @Date: 2020-08-19 10:53:13
 * @LastEditors: Please set LastEditors
 * @LastEditTime: 2021-08-31 18:15:21
 */

// 移动端大按钮
@mixin btn($bg: #1dcf9f, $color: #fff) {
  font-size: 100%;
  border-radius: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;

  height: 48px;
  background: $bg;
  color: $color;
  border-radius: 12px;
  width: 100%;
  font-family: Rubik-Medium;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  font-weight: bold;

  &[disabled='disabled'] {
    background-color: rgba($color: $bg, $alpha: 0.6);
  }
}

// 星星
@mixin stars($onesize: 5vw) {
  span {
    line-height: $onesize;
    width: $onesize;
    height: $onesize;
  }
  .starbox #startn {
    display: none;
  }
}
